* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #EBECED;
}

html {
  font-size: 62.5%;
}

.inner {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 983px) {
  .inner {
    width: 736px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 393px;
  }
}

* {
  color: #333;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

.read-more {
  color: #135589;
  border: 2px solid #135589;
  text-transform: uppercase;
  padding: 1.2rem 3.2rem;
}

.heading-2 {
  background: #CBE5F7;
  padding: .8rem 2.4rem;
  border-left: 8px solid #135589;
  margin-bottom: 1.6rem;
}

.heading-3 {
  border-left: 8px solid #135589;
  margin-bottom: 1.6rem;
  padding-left: 2.4rem;
}

.heading-4 {
  margin-bottom: 1.6rem;
  position: relative;
  padding-left: 2.4rem;
}

.heading-4::before {
  position: absolute;
  display: block;
  content: '';
  background: #135589;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.paragraph {
  margin-bottom: 1.6rem;
  line-height: 1.8;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.header {
  background: black;
}

.header__inner {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__inner {
    text-align: center;
    position: relative;
  }
}

.header .home-link {
  font-size: 4.8rem;
}

@media screen and (max-width: 767px) {
  .header .home-link {
    font-size: 3.2rem;
    text-align: center;
    color: #fff;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 983px) {
  .main {
    display: block;
  }
}

.global-nav {
  background: #3E3E3B;
  margin-bottom: 8rem;
}

.global-nav .inner {
  padding: 2.4rem 0;
}

@media screen and (max-width: 767px) {
  .global-nav {
    display: none;
  }
}

.global-nav__list {
  display: flex;
  justify-content: space-between;
}

.global-nav .menu-item a, .global-nav .menu-item i {
  color: #fff;
  text-transform: uppercase;
}

.global-nav .menu-item a {
  padding: 1.6rem;
}

.global-nav .menu-item a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.primary {
  width: 65%;
}

.primary__inner {
  padding: 0;
}

@media screen and (max-width: 983px) {
  .primary {
    width: 100%;
  }
}

.featured-posts {
  margin-bottom: 3.2rem;
  width: 100%;
}

.featured-posts .inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.featured-posts__item {
  width: calc(100% - 66.666666666% - 32px);
  background: #fff;
  padding-bottom: 3.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.featured-posts__item .post-thumbnail {
  width: 100%;
  margin-bottom: 1.6rem;
}

.featured-posts__item img {
  width: 100%;
  height: 100%;
}

.featured-posts__item .post-body {
  padding: 0 2rem;
  text-align: center;
}

.featured-posts__item .post-title {
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.posts__item {
  background: #fff;
  padding: 4rem 0;
  padding-bottom: 6rem;
  text-align: center;
  margin-bottom: 3.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.posts .post__date {
  margin-bottom: 2.4rem;
}

.posts .post__title {
  margin-bottom: 2.4rem;
}

.posts .post__category {
  margin-bottom: 3.2rem;
  color: #135589;
  text-transform: uppercase;
}

.posts .post__thumbnail {
  width: 100%;
  margin-bottom: 2.4rem;
}

.posts .post__thumbnail img {
  width: 100%;
  height: 100%;
}

.posts .post__excerpt {
  padding: 0 4rem;
  margin-bottom: 3.2rem;
}

.sidebar {
  width: 30.5%;
}

@media screen and (max-width: 983px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar__inner {
  padding: 0;
}

.sidebar .widget {
  background: #fff;
  margin-bottom: 3.2rem;
  padding: 3.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar .widget-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 6rem;
  text-align: center;
}

.sidebar .widget-title::before {
  display: block;
  content: '';
  width: 72px;
  height: 2px;
  background-color: #135589;
  position: absolute;
  bottom: -42%;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar ul {
  padding: 0 2.4rem;
}

.sidebar li {
  padding: 1.6rem;
  border-bottom: 1px dashed #333;
}

.post {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.post__post-head {
  padding: 3.2rem;
  text-align: center;
}

.post__post-head a {
  text-transform: uppercase;
}

.post__post-thumbnail img {
  width: 100%;
  height: 100%;
}

.post .content {
  padding: 3.2rem;
}

.category-name {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.post {
  display: block;
  background: #fff;
  width: 100%;
  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
}

.post__head {
  padding: 0 1.6rem;
  text-align: center;
}

.post__body {
  padding: 0 1.6rem;
  text-align: center;
}

.post__date {
  display: block;
  font-size: 1.4rem;
}

.post__title {
  font-size: 3.6rem;
  font-weight: bold;
  display: block;
}

.post p {
  margin-bottom: 3.2rem;
}

.post .read-more {
  margin-top: 1.6rem;
}

.footer {
  text-align: center;
  background: #3E3E3B;
  padding: 1.6rem;
}

.footer__text {
  color: #fff;
  font-size: 2rem;
}

.drawer {
  position: relative;
  display: none;
}

@media screen and (max-width: 767px) {
  .drawer {
    display: block;
  }
}

.drawer__opener .fas {
  font-size: 3.2rem;
  color: white;
}

.drawer__content {
  background: rgba(0, 0, 0, 0.9);
  padding: 1.6rem;
  padding-top: 4.8rem;
  position: fixed;
  top: 0;
  left: -18px;
  text-align: left;
  transform: translateX(-118%);
  transition: ease .5s;
  z-index: 100;
  width: 80%;
  height: 100vh;
}

.drawer__content li {
  padding: 1.6rem;
}

.drawer__content a {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.d-check .drawer__content {
  display: block;
  transform: translateX(0);
  overflow-y: auto;
}

.nav-toggler {
  position: absolute;
  right: 0;
  top: -48px;
}

.nav-toggler__icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: white;
  transition: all 0.3s ease 0s;
}

.nav-toggler__icon:nth-child(1) {
  top: 0;
}

.nav-toggler__icon:nth-child(2) {
  margin: 8px 0;
}

.nav-toggler__icon:nth-child(3) {
  top: 0;
}

.d-check .nav-toggler__icon:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.d-check .nav-toggler__icon:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.d-check .nav-toggler__icon:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}
