.global-nav {
    background: $black;
    margin-bottom: 8rem;

    .inner {
        padding: 2.4rem 0;
    }

    &__list {

        display: flex;
        justify-content: space-between;

    }

    .menu-item {
        a, i {
            color: $white;
            text-transform: uppercase;
        }

        a {

            padding: 1.6rem;

            &:hover {

                background: rgba(255, 255, 255, .3);

            }


        }

    }

}