.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $inner-width;
    margin: 0 auto;

    @include mq('tab') {
        display: block;
        
    }

}